<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>617449652803-di7ie7bqb3t9plok31j5p9gv6p23757n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.617449652803-di7ie7bqb3t9plok31j5p9gv6p23757n</string>
	<key>API_KEY</key>
	<string>AIzaSyASFSFhnKmwIvsi-RpmojK6o2ec-RYRWa4</string>
	<key>GCM_SENDER_ID</key>
	<string>617449652803</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.williamyeung.Breakpoint</string>
	<key>PROJECT_ID</key>
	<string>breakpoint-c2406</string>
	<key>STORAGE_BUCKET</key>
	<string>breakpoint-c2406.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:617449652803:ios:1ffecf80d2ec864b1b4af6</string>
	<key>DATABASE_URL</key>
	<string>https://breakpoint-c2406.firebaseio.com</string>
</dict>
</plist>